.CommentItem{
    width: calc(100% - 86px);
    padding: 0 43px;
    margin-top: 20px;
    .UserInfo{
        width: 100%;
        height: 150px;
        .HeadShot{
            width: 150px;
            height: 100%;
            .HeadShotBox{
                width: 120px;
                height: 120px;
                overflow: hidden;
                border-radius: 100%;
                img{
                    width: 100%;
                }
            }
        }
        .UserName{
            width: calc(100% - 150px);
            height: 100%;
            font-size:32px;
            font-weight:400;
            color:rgba(0,0,0,1);
        }
    }
    .ChildComment{
        width: 100%;
        padding: 33px 0;
        background: #F2F2F2;
        margin: 30px 0;
        .CommentList{
            width: 595px;
            border-left: #153110 solid 6px;
            .comment{
                width: 507px;
                margin: 15px auto;
                font-size:26px;
                font-weight:300;
                color:rgba(21,49,16,1);
                text-align: justify;
                .childcommentcontent{
                    color: #666666;
                }
            }
            
        }
    }
}

.unshow{
    display: none;
}