.TextBox{
    width: 100%;
    font-size:30px;
    font-weight:300;
    color:rgba(51,51,51,1);
    line-height:60px;
    text-align: justify;
    transition: max-height 0.5s;
    position: relative;
    word-break: break-all;
    
    .HandleGroup{
        width: 100%;
        margin: 32px 0;
        .ImageButton{
            width: 50%;
            flex-grow: 1;
            flex-shrink: 0;
            span{
                text-decoration: underline;
            }
            .commentimages{
                width: 46px;
                margin-right: 7px;
            }
        }
        .ShowallButton{
            width: 50%;
            flex-grow: 1;
            flex-shrink: 0;
        }
    }
    .background{
        width: 121px;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: -1;
    }
}
.showall{
    max-height: 3000px;
}