.BookList {
  width: 100%;
  .LoadingBox{
    width: 750px;
    height: 100%;
    img{
      height: 80%;
    }
  }
  .List {
    width: 100%;
    // height: 310px;
    overflow-x: auto;
    overflow-y: hidden;
    .BookScroll {
      width: auto;
      height: 310px;
      padding: 0 27px;
      pointer-events: none;
      .BookOut {
        height: 100%;
        position: relative;
        .Book {
          margin-bottom: 36px;
          width: 149px;
          height: 221px;
          overflow: hidden;
          margin: 0 20px;
          pointer-events: all;
          box-shadow: rgba($color: #00b9f1, $alpha: 0.6) 0 0 10px;
          transition: transform 0.3s;
          img {
            width: 100%;
            display: block;
          }
        }
        .Selected{
          transform: scale(1.1);
        }
      }
      .FocusBottom{
        &::after{
          position: absolute;
          content: '';
          bottom: 0px;
          left: 50%;
          transform: translateX(-50%);
          width: 100px;
          height: 8px;
          background: #64B5AF;
          border-radius: 4px;
        }
        &::before{
          position: absolute;
          content: '';
          bottom: 8px;
          left: 50%;
          transform: translateX(-50%);
          width: 0px;
          height: 0px;
          border-top: transparent 0px solid;
          border-bottom: #64B5AF 15px solid;
          border-left: transparent 10px solid;
          border-right: transparent 10px solid;
        }
      }
    }
  }
}

.NotFound{
  width: 100%;
  margin: 110px 0;
  p:nth-child(1){
      font-size: 34px;
      background-image: -webkit-gradient(linear, 0 0, 100 100, color-stop(0,rgba(38,86,28,0.2)), color-stop(0.5,rgba(38,86,28,1)),color-stop(1,rgba(38,86,28,0.2)) );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }
  p:nth-child(2){
      font-size:21px;
      font-weight:300;
      color:rgba(38,86,28,1);
      margin: 40px 0;
  }
  .readIcon{
      width: 299px;
  }
}