.TextBox{
    width: 100%;
    min-height: 200px;
    max-height: 400px;

    overflow:hidden;

    font-size:30px;
    font-weight:300;
    color:rgba(51,51,51,1);
    text-align: justify;
    transition: max-height 0.5s;
    position: relative;
    .background{
        width: 121px;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: -1;
    }
}
.showall{
    max-height: 1000px;
}