.BottomHandle{
    width: 100%;
    height: calc(95px);
    .Button{
        width: 33%;
        height: 100%;
        font-size:28px;
        font-weight:300;
        color:rgba(158,158,158,1);

        img{
            width: 30px;
            margin-right: 12px;
        }
        .Like{
            filter: none;
        }
        .Unlike{
            filter: grayscale(100%);
        }
    }
}