.BookView{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    .BookInfoTitle{
        width: 100%;
        height: 310px;
        background: #D8EAEA;
        position: relative;
        .BookCoverBox{
            width: 246px;
            height: 100%;
            .Cover{
                width: 158px;
                height: 228px;
                overflow: hidden;
                img{
                    width: 100%;
                    display: block;
                }
            }
        }
        .InfoContent{
            width: calc(100% - 246px);
            height: 100%;
            .BookName{
                font-size:34px;
                font-weight:500;
                color:rgba(0,0,0,1);
                margin: 80px 0 27px 0;
            }
            .BookAuthor{
                font-size:26px;
                font-weight:300;
                color:rgba(0,0,0,1);
            }
        }
        .RankButton{
            position: absolute;
            font-size:21px;
            font-weight:300;
            color:rgba(21,49,16,1);
            bottom: 35px;
            right: 41px;
            span{
                text-decoration:underline;
            }
        }
    }
    .BookIntroduce{
        width: calc(100% - 110px);
        padding: 0 55px;
        min-height: calc(100% - 310px);
        .IntroduceTitle{
            width: 100%;
            margin: 55px 0;
            img:nth-child(1){
                width:42px;
                display: block;
            }
            span:nth-child(2){
                margin: 0 23px;
                font-size:34px;
                font-weight:500;
                color:rgba(21,49,16,1);
            }
        }
        .Content{
            width: 100%;
            font-size:26px;
            font-weight:300;
            color:rgba(51,51,51,1);
            line-height:55px;
        }
        .ButtonGroup{
            width: 100%;
            margin: 85px 0;
            .Button{
                width: 254px;
                height: 80px;
                background: #153110;
                border-radius: 40px;
                font-size:34px;
                font-weight:500;
                color:rgba(172,220,218,1);
                margin:  0 32px;
            }
        }
    }
}